<div class="row">
  <div class="col-sm-12">
    <div class="statistics-details d-flex align-items-center justify-content-between">
      <div>
        <p class="statistics-title">Total Patients</p>
        <h3 class="rate-percentage"><%= stats.totalPatients %></h3>
      </div>
      <div>
        <p class="statistics-title">Total Appointments</p>
        <h3 class="rate-percentage"><%= stats.totalAppointments %></h3>
      </div>
      <div>
        <p class="statistics-title">Today's Appointments</p> 
        <h3 class="rate-percentage"><%= stats.todayAppointments %></h3>
      </div>
      <div class="d-none d-md-block">
        <p class="statistics-title">Emergency Cases</p>
        <h3 class="rate-percentage text-danger"><%= stats.emergencyCases %></h3>
      </div>
      <div class="d-none d-md-block">
        <p class="statistics-title">Completed Visits</p>
        <h3 class="rate-percentage"><%= stats.completedVisits %></h3>
      </div>
          <div class="d-none d-md-block">
        <p class="statistics-title">New Patients</p>
        <h3 class="rate-percentage"><%= stats.newPatientsCount %></h3>
        <p class="text-success d-flex"><i class="mdi mdi-arrow-up-bold"></i><span>Last 7 days</span></p>
      </div>
    </div>
  </div>
</div>
